.toolbar {
    background-color: #2c2c2c;
    height: 25vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
    width: 200px;
    opacity: .5;
    transition: 1s;
}

.logo:hover {
    opacity: 1;
    transition: 1s;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: .5;
    transition: 1s;
}

a:hover {
    opacity: 1;
    transition: 1s;
    transform: translateY(-5px);
}